## Vacationpy Homework

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
vacation_data = pd.read_csv("data\weather_data.csv")
vacation_data.head(10)

,city,City,Country,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Windspeed (mph),Date
0,0,Hithadhoo,MV,-0.6000,73.0833,80.92,77,42,9.40,1667761301
1,1,Albany,US,42.6001,-73.9662,72.54,80,100,1.99,1667760858
2,2,Mar del Plata,AR,-38.0023,-57.5575,77.83,84,92,28.01,1667761301
3,3,Nuristan,AF,35.3000,70.8333,23.81,92,100,1.48,1667761301
4,4,Mossamedes,AO,-15.1961,12.1522,70.23,65,2,13.71,1667761302
5,5,Busselton,AU,-33.6500,115.3333,57.87,80,100,10.54,1667761302
6,6,Quatre Cocos,MU,-20.2078,57.7625,73.09,73,67,9.66,1667761302
7,7,Punta Arenas,CL,-53.1500,-70.9167,64.11,45,100,10.49,1667761235
8,8,Khatanga,RU,71.9667,102.5000,-20.99,100,26,4.76,1667761303
9,9,Ponta do Sol,PT,32.6667,-17.1000,72.01,88,79,3.58,1667761303

In [21]:
# Remove extra column and reorganize
vacation_data_reorg = vacation_data.rename(columns={"City": "City", "Country": "Country", "Latitude": "Latitude", "Longitude": "Longitude",
                                                    "Max Temperature (F)": "Max Temp (F)", "Humidity": "Humidity %", "Cloudiness": "Clouds", "Windspeed (mph)": "Windspeed (mph)"})
vacation_data_reorg.head(10)

,city,City,Country,Latitude,Longitude,Max Temp (F),Humidity %,Clouds,Windspeed (mph),Date
0,0,Hithadhoo,MV,-0.6000,73.0833,80.92,77,42,9.40,1667761301
1,1,Albany,US,42.6001,-73.9662,72.54,80,100,1.99,1667760858
2,2,Mar del Plata,AR,-38.0023,-57.5575,77.83,84,92,28.01,1667761301
3,3,Nuristan,AF,35.3000,70.8333,23.81,92,100,1.48,1667761301
4,4,Mossamedes,AO,-15.1961,12.1522,70.23,65,2,13.71,1667761302
5,5,Busselton,AU,-33.6500,115.3333,57.87,80,100,10.54,1667761302
6,6,Quatre Cocos,MU,-20.2078,57.7625,73.09,73,67,9.66,1667761302
7,7,Punta Arenas,CL,-53.1500,-70.9167,64.11,45,100,10.49,1667761235
8,8,Khatanga,RU,71.9667,102.5000,-20.99,100,26,4.76,1667761303
9,9,Ponta do Sol,PT,32.6667,-17.1000,72.01,88,79,3.58,1667761303

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
# Configure gmaps using URL
units = "imperial"
city = ["City"]
gmaps_url = "https://www.googleapis.com/geolocation/v1/geolocate?key=[g_key]"
response_json = requests.get(gmaps_url).json()
pprint(response_json)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)